@page "/getstarted"

<PageTitle>Maize: Read to Succeed</PageTitle>

<h1 class="border-bottom">Get Started</h1>
<p>Overview on setting up Maize's console application</p>
<div class="list-group mb-2">
    <div class="list-group-item bg-light aria-current="true">
    <div class="d-flex w-100 justify-content-between">
            <h5 class="border-bottom mb-1">Requirements</h5>
    </div>
    <p class="mb-0">1. Gamestop or MetaMask wallet with an active <a href="https://loopring.io/#/trade/lite/LRC-ETH" target="_blank">Loopring</a> account: <a href="https://wallet.gamestop.com/" target="_blank"><small>Download</small></a></p>
        <p class="mb-0">2. Own Maize Origin Logo (not required for testnet): <a  href="https://loopexchange.art/collection/maizeorigin/item/0xdf3ce39ffe0366822b9ea52000ba23a8fe5c64832d310c06f76447b7330d531a" target="_blank"><small>Purchase</small></a></p>
        <p class="mb-0">3. The Maize application for your operating system: <a href="https://github.com/cobmin/Maize/releases" target="_blank"><small>Download</small></a></p>
        <img class="img-fluid mt-1" src="images/GitHubDownload.png" alt="">
    </div>
</div>

<div class="list-group mb-2">
    <div class="list-group-item bg-light" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="border-bottom mb-1">Installation</h5>
    </div>
        <div class="tutorial container text-center ratio ratio-16x9 mb-1">
            <iframe src="https://www.youtube.com/embed/00TY9aHTUuE?rel=0"
                    allowfullscreen>
            </iframe>
        </div>
        @*<p class ="mb-1">Extract the zip file from the </p>*@
    </div>
</div>
