@page "/"

<PageTitle>Maize: Read to Succeed</PageTitle>

<Heroes/>
@*<div class="container my-5">
    <h1 class="text-center">Welcome to Maize</h1>
    <p class="lead text-center">A simple solution for managing your GameStop and LoopExchange collections on Loopring.</p>
    <p class="text-center">Maize provides analytics and airdrops for your Nfts and Crypto</p>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="https://cobmin.io/posts/Maize" target="_blank">Get Started</a>
    </div>
</div>*@

<SurveyPrompt Title="If you use Maize > " />