@page "/testnet"

<PageTitle>Maize: Read to Succeed</PageTitle>

<h1 class="border-bottom">Connect to the Goerli Testnet</h1>
<h5>Use the Goerli Testnet to mint your Nfts and verify them without spending actual money.</h5>
<div class="list-group mb-3">
    <div class="list-group-item bg-light">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="border-bottom mb-1">Requirements</h3>
        </div>
        <p class="mb-0"><input type="checkbox"> Gamestop or MetaMask wallet with an active <a href="https://loopring.io/#/trade/lite/LRC-ETH" target="_blank">Loopring</a> account: <a href="https://wallet.gamestop.com/" target="_blank"><small>Download</small></a></p>
        <p class="mb-0"><input type="checkbox"> A free Alchemy account: <a href="https://www.alchemy.com/" target="_blank"><small>Sign up</small></a></p>
    </div>
</div>

<div class="list-group mb-2">
    <div class="list-group-item bg-light">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="border-bottom mb-1">Instructions</h3>
        </div>
 @*       <div class="tutorial container text-center ratio ratio-16x9 mb-2">
            <iframe src="https://www.youtube.com/embed/00TY9aHTUuE?rel=0"
                    allowfullscreen>
            </iframe>
        </div>*@
        <p class="mb-3"><input type="checkbox"> Get Goerli ETH from <a href="https://goerlifaucet.com/" target="_blank">this faucet</a> by signing in, entering your wallet address, and clicking Send Me ETH.</p>
        <img class="img-fluid mb-3" src="images/Testnet8.png" alt="">
        <p class="mb-3"><input type="checkbox"> In your wallet go to the Ethereum Layer 1 Goerli Testnet.</p>
        <img class="img-fluid mb-3" src="images/Testnet1.png" alt="">
        <p class="mb-3"><input type="checkbox"> You should see 0.2 ETH. Move it to Loopring Layer 2.</p>
        <img class="img-fluid mb-3" src="images/Testnet2.png" alt="">
        <p class="mb-3"><input type="checkbox"> After clicking Move, click MAX and then Review Move.</p>
        <img class="img-fluid mb-3" src="images/Testnet3.png" alt="">
        <p class="mb-3"><input type="checkbox"> After, Confirm Move and wait for the blocks to confirm.</p>
        <p class="mb-3"><input type="checkbox"> Once they have confirmed, go to the Loopring Layer 2 Goerli Testnet.</p>
        <img class="img-fluid mb-3" src="images/Testnet4.png" alt="">
    </div>
</div>

<div class="list-group mb-2">
    <div class="list-group-item bg-light">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="border-bottom mb-1">Use Loopring on the Testnet</h3>
        </div>
        <p class="mb-3"><input type="checkbox"> Log into  <a href="https://loopring.io/#/trade/lite/LRC-ETH" target="_blank">Loopring</a> and you will notice that you are working on their Testnet.</p>
        <img class="img-fluid mb-3" src="images/Testnet5.png" alt="">
    </div>
</div>

<div class="list-group mb-2">
    <div class="list-group-item bg-light">
        <div class="d-flex w-100 justify-content-between">
            <h3 class="border-bottom mb-1">Use Maize on the Testnet.</h3>
        </div>
        <p class="mb-3"><input type="checkbox"> After launching the application, enter testnet or (t).</p>
        <img class="img-fluid mb-3" src="images/Testnet6.png" alt="">
        <p class="mb-3"><input type="checkbox"> You can confirm that you are on the Testnet in the title bar.</p>
        <img class="img-fluid mb-3" src="images/Testnet7.png" alt="">
        <p class="mb-3">With Maize you can perform lookups, transfers, and soon...minting.</p>
    </div>
</div>