@page "/tutorials"

<PageTitle>Maize: Read to Succeed</PageTitle>

<h1 cla ss="border-bottom">Tutorials</h1>
    <h5>Check out the tutorials below. Reach out to request a tutorial.</h5>
    <div class="list-group mb-3">
    <div class="list-group-item bg-light">
        <div class="d-flex w-100 justify-content-between">
           <NavLink class="nav-link" href="testnet">
                <p class="mb-0">Connect to the Goerli Testnet.</p>
           </NavLink>
        </div>
    </div>
</div>

<SurveyPrompt Title="If you use Maize > " />