<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">Created by <a href="https://cobmin.io" target="_blank"><img src="/images/loophead2531.png" height="32" width="32" /></a></span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="p-1">
                <a href="https://discord.com/invite/gKxvUjRpvw" target="_blank"><img src="/images/DiscordLogo.png" /></a>
            </li>
            <li class="p-1">
                <a href="https://twitter.com/maize_capp" target="_blank"><img src="/images/TwitterLogo.png" /></a>
            </li>
            <li class="p-1">
                <a href="https://www.youtube.com/channel/UCDqFfvliM01rAOXjLYDuAAA" target="_blank"><img src="/images/YouTubeLogo.png" /></a>
            </li>
        </ul>
    </footer>
</div>