<div class="my-3 text-center alert alert-secondary">
    <img class="mx-auto mb-3" src="images/LogoTraparent.png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">Welcome to Maize</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-3">A simple solution for managing your GameStop and LoopExchange collections on Loopring. Maize provides analytics and airdrops for your Nfts and Crypto.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="https://github.com/cobmin/Maize" target="_blank" class="btn btn-warning btn-lg px-4 gap-3">Get Started</a>
            <a href="https://cobmin.io/posts/Maize" target="_blank" class="btn btn-success btn-lg px-4">Learn More</a>
      </div>
    </div>
  </div>

<div class="container text-center my-3 text-center alert alert-secondary">
  <div class="row align-items-start">
        <div class="col">
            <h4 class="fw-bold mb-1">Monitor Nft collections</h4>
            <p>View Nfts by metadata, Find Nft holders, and more</p>
            <iframe src="https://www.youtube.com/embed/GEZsxSKuwaY?autoplay=1&mute=1&controls=0">
                frameborder="0"
                allowfullscreen>
            </iframe>
        </div>
        <div class="col">
            <h4 class="fw-bold mb-1">Quickly Transfer Nfts</h4>
            <p>Reduce the time it takes to send Nfts to your holders.</p>
            <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1&controls=0">
                frameborder="0"
                allowfullscreen>
            </iframe>
        </div>
  </div>    
</div>

<div class="my-3 text-center alert alert-secondary">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-3">Maize is a console application that works on windows, mac, and linux.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="https://github.com/cobmin/Maize/releases" target="_blank" class="btn btn-outline-dark btn-lg px-4"><span class="oi oi-cloud-download center pt-1" aria-hidden="true"></span>Download</a>
        </div>
    </div>
</div>