<div class="container text-center text-center border rounded bg-light">
    <img class="mx-auto m-3" src="images/LogoTraparent.png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">Welcome to Maize</h1>
    <div class="col-lg-6 mb-3 mx-auto">
        <p class="lead mb-3">A simple solution for managing your GameStop and LoopExchange collections on Loopring. Maize provides analytics and airdrops for your Nfts and Crypto.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <NavLink class="btn btn-warning btn-lg px-4 gap-3" href="getstarted">Get Started</NavLink>
            <a href="https://cobmin.io/posts/Maize" target="_blank" class="btn btn-success btn-lg px-4">Learn More</a>
      </div>
    </div>
  </div>

<div class="container text-center my-3 text-center border rounded bg-light">
  <div class="row align-items-start mt-2 my-2">
        <div class="col-sm-6 mb-2">
            <h3 class="fw-bold mb-1">Monitor Nft collections</h3>
            <p>Sort Nfts by metadata, Find Nft holders, and more</p>
            <img class="img-fluid" src="images/gifs/CollectionDisplay.gif" alt="" >
        </div>
        <div class="col-sm-6 mb-2">
            <h3 class="fw-bold mb-1">Quickly Transfer Nfts</h3>
            <p>Reduce the time it takes to send Nfts to your holders.</p>
            <img class="img-fluid" src="images/gifs/TransferDisplay.gif" alt="">
        </div>
  </div>    
</div>

<div class="container text-center my-3 text-center border rounded bg-light">
    <div class="col-lg-6 mx-auto my-3">
        <p class="lead mb-3">Maize is a console application that works on windows, mac, and linux.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="https://github.com/cobmin/Maize/releases" target="_blank" class="btn btn-outline-dark btn-lg px-4"><img src="images/GitHubLogo.png" center pt-1" aria-hidden="true" /img> Download</a>
        </div>
    </div>
</div>