<div class="alert alert-secondary mt-4">
    <span aria-hidden="true">&#127805</span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please take this
        <a target="_blank" class="font-weight-bold link-dark" href="https://forms.office.com/r/98s77PnLPb">survey</a>
    </span>
    and tell me what you think.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
